@import 'partials/normalise';
@import 'partials/typography';
@import 'partials/logo';
@import 'partials/login';
@import 'partials/social';

#app{
    display: flex;
    flex-direction: column;
    align-content: right;
    justify-content: space-evenly;
    height: 100vh;
    @media (min-width: 768px) {
        flex-direction: row-reverse;
    }
}