$primary_color : #7e24fa;
$primary_light: #8456ff;
$primary_dark: #6624d2;
$secondary_color : #e4d2ff;
$secondary_light: #f4ecff;
$secondary_dark: #caaef2;



$font-style: -apple-system, BlinkMacSystemFont, "San Francisco", "Arial";